# Model Provider Configurations
PRIMARY_GENERATION_PROVIDER=huggingface
FALLBACK_GENERATION_PROVIDER=gemini

# Active Embedding Model
EMBEDDING_MODEL=models/gemini-embedding-2

# API Credentials
GEMINI_API_KEY=
hugging_face=

# Model Details (Optional defaults)
HF_MODEL_NAME=Qwen/Qwen2.5-72B-Instruct
GEMINI_MODEL_NAME=gemini-2.5-flash
